<div class="container-fluid sticky-top" style="padding:0">
<!--  -->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white; padding:15px 0 15px 0; border-bottom: 1px solid #f2f2f2;">
    <a class="navbar-brand" href="{{ "/" | relative_url }}" style="font-size: 2rem; margin-left: 2rem; margin-right: 10px">
      Boston<b>Hacks</b>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="margin-right:12px">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" style="margin-left:32px">
        <li class="nav-item {% if page.permalink == "/" %} active {% endif %}">
          <a class="nav-link" href="{{ "/" | relative_url }}" style="font-size: 1.25rem">HOME &nbsp;</a>
        </li>
        <li class="nav-item {% if page.permalink == "/previous/" %} active {% endif %}">
          <a class="nav-link" href="{{ "/previous" | relative_url }}" style="font-size: 1.25rem">HISTORY &nbsp;</a>
        </li>
        <li class="nav-item {% if page.permalink == "/about/" %} active {% endif %}">
          <a class="nav-link" href="{{ "/about" | relative_url }}" style="font-size: 1.25rem">ABOUT / CONTACT &nbsp;</a>
        </li>
        <li class="nav-item {% if page.permalink == "/workshops/" %} active {% endif %}">
          <a class="nav-link" href="{{ "/workshops" | relative_url }}" style="font-size: 1.25rem">WORKSHOPS</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" style="height:auto; margin-right:10px;">
        <li class="nav-item" style=" margin-left:26px">
          <a href="https://www.facebook.com/bostonhacks/"><i class="fa fa-facebook-square fa-lg" style="padding:8px;"></i></a>
          <a href="https://twitter.com/boston_hacks"><i class="fa fa-twitter-square fa-lg" style="padding:8px;"></i></a>
          <!-- <a href="https://www.instagram.com/bostonhacks/"><i class="fa fa-instagram fa-lg" style="padding:8px;"></i></a> -->
        </li>
      </ul>
    </div>
  </nav>

</div>
