body {
  margin-bottom: 1em; /* Margin bottom by footer height */
}

#landing-page{

  background-image: url('/assets/imgs/background_img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #878787;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5em;
  background-color: #f5f5f5;
}
