---
layout: default
---

<div class="container-fluid text-center">
  <br/>
  <br/>
  <div class="row">

    <div class="col-md-2"></div>
    <div class="col-md text-left">
      <h1>{{page.title}}</h1>
      <br/>
      <h4 style="color:#d33f4e">What's a Hackathon?</h4>
      <p>
        A hackathon is an overnight event where programmers, artists, and entrepreneurs gather to learn and hack together creative and useful projects. They're filled with free food, swag, and prizes, and are a great opportunity to network with other hackers and sponsors.
      </p>
      <p>
        Our sponsors include fun, interesting, and important companies. Meeting their recruiters is one of the best ways to land an internship or full time offer. We have one of the biggest attendances in Boston hackathons, and it's a great environment to get an extracurricular project under your belt and make your resume stand out.
      </p>
      <p>
        Most importantly, the event is FREE, you get plenty of food, and it's a lot of fun! Sign up with your email or follow us on Facebook to get notified when registration opens.
      </p>
      <br/>
      <h4 style="color:#d33f4e">What's BostonHacks?</h4>
      <p>
        BostonHacks was started at Boston University in 2015 as a medium sized hackathon with nationwide attendance. We've quickly grown into a large-tier international hackathon known for our productive and positive vibes, great sponsor relations, and awesome prizes and swag (unofficially, the best swag in the game).
      </p>
    </div>


    <div class="col-md-1"></div>
    <div class="col-md-4" style="border-left: 2px solid #f2f2f2">
      <h4> Next Boston<b>Hacks</b></h4>
      <h1 style="color:#d33f4e"> Nov 10 2018 </h1>
      <br/>
      <br/>
      <br/>
      <h4 style="color:#d33f4e">Contact us!</h4> <br/>
      <h6 style="color:#d33f4e">Email</h6>
      <p>
        contact@bostonhacks.io
      </p>
      <hr width="50%">

      <h6 style="color:#d33f4e">Facebook</h6>
      <p>
        <a href="https://www.facebook.com/bostonhacks/" style="color:inherit">BostonHacks page</a>
      </p>
      <hr width="50%">

      <h6 style="color:#d33f4e">Twitter</h6>
      <p>
        <a href="https://twitter.com/boston_hacks" style="color:inherit">@boston_hacks</a>
      </p>
      <hr width="50%">

<!--  <h6 style="color:#d33f4e">Instagram</h6>
      <p>
        <a href="https://www.instagram.com/bostonhacks/" style="color:inherit">@bostonhacks</a>
      </p>
      <hr width="50%"> -->
    </div>
  </div>
</div>
