---
layout: default
---

<div class="container-fluid text-center">

  <div class="row" id="landing-page">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="color:White">
      <br/>
      <br/>
      <img class="img-fluid" style="width:50%; " src="{{ "/assets/imgs/terrierLogoWhite.png" | relative_url }}" id="terrierLogo">
      <h1>{{site.nextHackathon.name}}</h1>
      <p>
        {{site.nextHackathon.date}}
        <br>
        {{site.nextHackathon.location}}
      </p>
      <br/>
      <br/>
    </div>
    <div class="col-md-4" ></div>
  </div>

  <div class="row" style="padding-top:60px; padding-bottom:40px">
    <br />
    <br />

    <div class="col-md-1"> </div>
    <div class="col-md">
      <h1 style="font-size:50px; color: #353535;"><i class="fa fa-code fa-md"></i> Attend </h1>

      <p> Thanks for the interest! Leave your email address below or follow us on social media to get notified when there's more information and registrations opens! </p>
      <form action="https://bostonhacks.us18.list-manage.com/subscribe/post?u=f6d6fee90aa63339dffc8ccca&amp;id=8873714a91" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll form-group">
          <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
          <br />
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_13cd178ce59e4de2a1ecb4265_1954f2ac95" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe for Info" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-outline-danger"></div>
        </div>
      </form>



      <br/>
      <br/>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md">

      <h1 style="font-size:50px; color: #353535;"><i class="fa fa-briefcase fa-md"></i> Sponsor </h1>
      <br/>
      <p> We'd love to have you on board. Conact us at the email below! </p>
      <br/>
      <h4 style="color:#d33f4e">contact@bostonhacks.io</h4>
      <!-- <a href="{{ "/assets/sponsordoc.pdf" | relative_url }}"><button class="btn btn-outline-danger">Sponsor Document</button></a> -->
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row" style="background-color:#f2f2f2;">
    <div class="col-md-6 offset-md-3">
      <br />
      <br />
      <h2>Event Schedule</h2>
    </div>
  </div>

  <div class="row" style="background-color:#f2f2f2;">
    <div class="col-md" style="margin-bottom: 40px">
      <img src="/assets/imgs/schedule.png" style="max-width:80%">
      <br />
    </div>
  </div>

  <br/>
  <br/>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>Tracks and Workshops</h2>
      <br/>
      <p>
        Tracks are optional specialized topics or technologies you can aim your project at. We'll have sponsors, workshops, and mentors to help you with your track-based project (as well as specialized prizes). Tracks are optional, make a hack you're interested in! Check back soon to see what our tracks will be this year!
      </p>
      <br/>
      <h3>
        Last year's tracks:
      </h3>
    </div>
  </div>

  <br/>
  <br/>


  <div class="row">
    <div class="col-md-4" style="border-left:1px solid #e6e6e6;">
      <p style="font-size:80px"><i class="fa fa-laptop fa-lg"></i></p>
      <h3> Web and Mobile</h3>
      <br/>
      <p> Led by <a href="http://openwebbu.org/">OpenWeb BU</a>, hackers learned how to make a website or mobile app from the ground up.
      </p>
    </div>
    <div class="col-md-4" style="border-left:1px solid #e6e6e6;">
      <p style="font-size:80px"><i class="fa fa-gears fa-lg"></i></p>
      <h3> Machine Learning </h3>
      <br/>
      <p> Led by <a href="https://www.facebook.com/BostonUniversityMIC/">BU’s Machine Intelligence Community</a>, hackers learned how to get into the basics of several ML frameworks, and moved on to more advanced topics.
      </p>
    </div>
    <div class="col-md-4" style="border-left:1px solid #e6e6e6;">
      <img src="/assets/imgs/vr_icon.png" style="height:120px; margin-bottom:16px">
      <h3> Virtual Reality </h3>
      <br/>
      <p> Led by <a href="http://www.buarvr.com/">BU AR/VR</a>, hackers got a jumpstart into creating in 3D. Then they created hacks on the Oculus Rifts we made available to them.
      </p>
    </div>
  </div>

  <br/>
  <br/>
  <br/>



  <div class="row" style="background-color:#f2f2f2;">
    <div class="col-md-12">
      <br />
      <h2>Frequently Asked Questions</h2>
      <p>The event is still a ways away, so check back closer to the hackathon for more information.</p>
      <br/>
    </div>
  </div>

  <div class="row text-left" style="background-color:#f2f2f2; padding-bottom: 30px">
    <div class="col-md-1"></div>
    <div class="col-md">
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne" style="background-color: white">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#whereisit" aria-expanded="false" aria-controls="whereisit">
                <div class="row">
                  <div class="col-md"><i class="fa fa-plus fa-lg fa-fw"></i>&nbsp; Where is it? </div>
                </div>
              </button>
            </h5>
          </div>

          <div id="whereisit" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              George Sherman Union, 2nd Floor in Metcalf Hall at 775 Commonwealth Avenue, Boston, MA, 02215.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo" style="background-color: white">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#WhoisGoing" aria-expanded="false" aria-controls="WhoisGoing">
                <div class="row">
                  <div class="col-md"><i class="fa fa-plus fa-lg fa-fw"></i>&nbsp; Who's coming? </div>
                </div>
              </button>
            </h5>
          </div>
          <div id="WhoisGoing" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              We expect 400 to 450 hackers from all over North America to attend BostonHacks.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree" style="background-color: white">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#whoCanAttend" aria-expanded="false" aria-controls="whoCanAttend">
                <div class="row">
                  <div class="col-md"> <i class="fa fa-plus fa-lg fa-fw"></i>&nbsp; Who can attend? </div>
                </div>
              </button>
            </h5>
          </div>
          <div id="whoCanAttend" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              All students are welcome. Unfortunately, we will not be able to accommodate students under 18 this year (unless you are a BU student).
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour" style="background-color: white">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Experience" aria-expanded="false" aria-controls="Experience">
                <div class="row">
                  <div class="col-md"><i class="fa fa-plus fa-lg fa-fw"></i>&nbsp; Do I need experience? </div>
                </div>
              </button>
            </h5>
          </div>
          <div id="Experience" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
              No experience necessary. We will have plenty of mentors and resources, along with several workshops targeted for beginners. Come learn and experience your first hackathon at BostonHacks!
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFive" style="background-color: white">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Rules" aria-expanded="false" aria-controls="Rules">
                <div class="row">
                  <div class="col-md"><i class="fa fa-plus fa-lg fa-fw"></i> &nbsp; Are there any rules? </div>
                </div>
              </button>
            </h5>
          </div>
          <div id="Rules" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
              We want to ensure a positive experience for all participants. We encourage you to read the Code of Conduct.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingSix" style="background-color: white">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Bring" aria-expanded="false" aria-controls="Bring">
                <div class="row">
                  <div class="col-md"> <i class="fa fa-plus fa-lg fa-fw"></i> &nbsp; What should I bring? </div>
                </div>
              </button>
            </h5>
          </div>
          <div id="Bring" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
              You should bring your laptop, phone, chargers, toiletries, and optionally a sleeping bag. All food and other accommodations will be taken care of.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingSeven" style="background-color: white">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Teams" aria-expanded="false" aria-controls="Teams">
                <div class="row">
                  <div class="col-md"> <i class="fa fa-plus fa-lg fa-fw"></i> &nbsp; Can we form teams?</div>
                </div>
              </button>
            </h5>
          </div>
          <div id="Teams" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
            <div class="card-body">
              Of course you can! We encourage people to work in teams of up to 5 people. You may opt-in to team formation during registration which will match you with an ideal team. You can work alone, but it won't be the same.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingEight" style="background-color: white">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#cost" aria-expanded="false" aria-controls="cost">
                <div class="row">
                  <div class="col-md"><i class="fa fa-plus fa-lg fa-fw"></i> &nbsp; Does it cost anything? </div>
                </div>
              </button>
            </h5>
          </div>
          <div id="cost" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
            <div class="card-body">
              BostonHacks is 100% free. You don't have to spend a dime!
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingNine" style="background-color: white">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#reimbursements" aria-expanded="false" aria-controls="reimbursements">
                <div class="row">
                  <div class="col-md"> <i class="fa fa-plus fa-lg fa-fw"></i> &nbsp; Will there be travel reimbursements? </div>
                </div>
              </button>
            </h5>
          </div>
          <div id="reimbursements" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
            <div class="card-body">
              We're handling travel reimbursements on a case-by-case basis. We're also working on potentially providing busses to regions like New York and Canada.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>

</div>
