.footFlair {
  background: url("assets/Waves/FooterCurve.svg") no-repeat;
  background-size: cover;
	height: 55vh;
}

.contactFoot {
  display:flex;
  align-items: flex-end;
	justify-content: center;
}

.container {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
 }

 .underFlair {
	position: absolute;
	display: inline;
	bottom: -20px;
	left: 26px;
 }