@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,700');

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 18px;
}

button {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: white;
  padding: 0.7em 1.4em 0.7em 1.4em;
  border-radius: 14px;
  vertical-align: center;
  cursor: pointer;

  transition-duration: 0.3s;
  outline: 0;
}
button:active {
  transform: scale(0.9);
}

input {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.4em;
  margin-right: 10px;
  border-radius: 14px;
  border-style: solid;
  border-color: #aaa;
  outline: 0;
}

::placeholder {
  color: #bbb;
}

.Flair {
  background:
      url("assets/Waves/Header_Curve1.svg") no-repeat,
      url("assets/Waves/Header_Curve2.svg") no-repeat;
  display:flex;
  background-size: contain;
}

.headerbar {
  margin-top: 20%;
  margin-left: 12%;
  margin-bottom: 25%;
  align-items: center;
  display: flex;
}

.Title {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #ffffff;
  display: inline;
  line-height: 0%;
  font-size: 5vw;
}

.Bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #ffffff;
  display: inline;
  line-height: 0%;
  font-size: 5vw;
}

.Date {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #ffffff;
  line-height: 0%;
  font-size: 2vw;
}

.Location {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #ffffff;
  line-height: 10%;
  font-size: 2vw;
}

.TracksAndWorkshops {
  background:
      url("assets/Waves/Mid_Curve1.svg") right no-repeat,
      url("assets/Waves/Mid_Curve1.svg") left no-repeat,
      url("assets/Waves/Mid_Curve2.svg") right no-repeat;
  display:flex;
  background-size: cover;
}

@media only screen and (min-width: 620px) {
  .TracksAndWorkshops {
    background:
        url("assets/Waves/Mid_Curve1.svg") right no-repeat,
        url("assets/Waves/Mid_Curve1.svg") left 80% no-repeat,
        url("assets/Waves/Mid_Curve2.svg") right no-repeat,      
        url("assets/Waves/Mid_Curve2.svg") left no-repeat;
    display:flex;
    background-size: cover, contain, cover, cover;
  }
}

@media only screen and (min-width: 995px) {
  .TracksAndWorkshops {
  background:
      url("assets/Waves/Mid_Curve1.svg") right no-repeat,
      url("assets/Waves/Mid_Curve1.svg") left 80% no-repeat,
      url("assets/Waves/Mid_Curve2.svg") right no-repeat,      
      url("assets/Waves/Mid_Curve2.svg") left bottom no-repeat;
  background-size: cover, contain, cover, contain;
}
}

@media only screen and (min-width: 1200px) {
  .TracksAndWorkshops {    
    background:
      url("assets/Waves/Mid_Curve1.svg") right no-repeat,
      url("assets/Waves/Mid_Curve2.svg") right no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 102vw;
  }
}

.TracksTitle{
  margin-left: 6% !important;
}

@media only screen and (min-width: 500px) {
  .TracksTitle {
    text-align: right;
  }
}

/*
.TracksAndWorkshops {
  position: relative;
  overflow: hidden;
}
*/